.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 600;
  font-size: 12px;
  color: var(--mantine-color-dimmed);
}

.value {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
}
